<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <title>League Table</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	</head>
    <body>
        <div class="container">
            <h1>Id: {{id}}</h1>
            <h1>{{caption}}</h1>
        </div>
        <div class="container well">
            <div class="row">
                <div class="col-xs-3">
                    {{> favourites }}
                </div>
                <div class="col-xs-9">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Position</th><th>Team Name</th><th>Points</th>
                            </tr>
                        </thead>
                            {{#each teams}}
                            <tr>
                                <td>{{position}}</td><td>{{name}}</td><td>{{points}}</td>
                            </tr>
                            {{/each}}
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>	
</html>